*{margin: 0; padding: 0;
    cursor: url(../image/cusor1.png)2 2,auto;
}
/* 마우스 꾸미기 */
*:active{
	cursor: url(../image/cusor2.png)9 9,auto;
    transition: 0.3s;
}
a:hover,a img:hover,input,.cover_text,.cover_text p,.p_img,.emo_h li a img:hover,.swiper-slide,.dropdown_symbol img{
    cursor: url(../image/cusor2.png)9 9,auto;
}
/* 마우스 꾸미기 */
/* scroll 꾸미기_s */
body::-webkit-scrollbar{
    width: 13px;
    background-color: #ffffff;
}
body::-webkit-scrollbar-track{
    background-color: #faf6f0;
    box-shadow: inset 0px 0px 3px #f5e8e1;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    width: 15px;
    height: 10px;
    background-color:#a87367;
    /* border-radius: 5px; */
}
body::-webkit-scrollbar-thumb:hover{
    width: 15px;
    background-color:#dbab97;
    /* border-radius: 5px; */
}
/* scroll 꾸미기_e */
ul,ol{list-style: none;}
a{text-decoration: none; color: inherit;}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-kr {
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family: "Noto Sans KR", sans-serif, 'Pretendard-Regular';
    font-size: 15px;
    line-height: 24px;
    color: #080808;
    background-color:#fffbf9;
}

/* top광고_s */
/* top 공통 */
#top{
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}
#top ul li{
    width: 100%;
    height: 30px;
}
#top ul li a{
    display: block;
}
#top ul li a p{
    padding: 4px 0;
}
#top ul li:nth-child(1),#top ul li:nth-child(3)
{
    background-color: #373737;
    color: #f5f3f3;
}
#top ul li:nth-child(2){
    background-color: #f4dbcf;
    color: #080808;
}
/* pc 1400이하 */
@media(max-width: 1400px){
    #top{
        width: 100%;
    }
}
/*moblie이하 1000이하 */
@media(max-width:1000px){
    #top{
        width: 100%;
    }
}
/* top광고_e */
/* header_s */
/* header_s */
#nav{
	background-color: #a87367;
    width: 100%;
    position: fixed;
    top: 30px;
    left: 0;
    display: block;
    z-index: 80;
    transition: backgroud .3s ease-in-out;
}
.hd_inner{
    margin: 0 auto;
    width: 1320px;
    position: relative;
    display: flex;
    height: 100px;
    padding: 0 60px;
}
.hd_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 81;
}
.emo{
    display: flex;
    justify-content: space-around;
    z-index: 81;
}
.emo li{
    height: 27px;
}
.emo li a{
    display: block;
    padding: 0 7px;
}

.text_box{
    border-bottom: #fffbf9 1px solid;
    opacity: 1;
}
.text_box a input{
    padding-top: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color:#fffbf9;
    font-size: 17px;

}
.text_box a input::placeholder{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #fffbf9;
}
.pc_mode{
    display: block;
}
.mo_mode{
    display: none;
}
/* 햄버거버튼 시작 */
.hambutager_button{
    width: 38px;
    height: 27px;
    position: relative;
    transition: 0.3s ease-in-out;
    z-index: 81;
    display: block;
}
.hambutager_button span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    top: 0;
    border-radius: 2px;
}
.hambutager_button span:nth-child(1){
    top: 0;
}
.hambutager_button span:nth-child(2),
.hambutager_button span:nth-child(3){
    top: 10px;
}
.hambutager_button span:nth-child(4){
    top:20px;
}
.hambutager_button.active span{
    background-color:  #080808;
    opacity: 0.8;
}
.hambutager_button.active span:nth-child(1),
.hambutager_button.active span:nth-child(4){
    opacity: 0;
}
.hambutager_button.active span:nth-child(2){
    transform: rotate(45deg);
}
.hambutager_button.active span:nth-child(3){
    transform: rotate(-45deg);
}

/* 햄버거 클릭릭시 헤더 이미지 바꾸기*/
#nav.change{
    background-color: #faf6f0;
}
#nav.change .hd_flex .logo a span img{
    content: url(../image/header/main_logo.png);
}
#nav.change .hd_flex .search{
    content: url(../image/header/search.png);
}
#nav.change .hd_flex .home{
    content: url(../image/header/home.png);
}
#nav.change .hd_flex .basket{
    content: url(../image/header/basket.png);
}
#nav.change .hd_flex input,
#nav.change .hd_flex input::placeholder
{
    color:#080808;
    opacity: 0.8;
}
#nav.change .hd_flex .text_box{
    border-bottom: #080808 1px solid;
    opacity: 0.8;
}
/* 햄버거버튼튼 끝*/
/* nav.on 스타일 */
div#nav.scrollup{
	background-color:#faf6f0;
	top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}
div#nav.scrollup .search img{
  content: url(../image/header/search.png);}
div#nav.scrollup .home img{
  content: url(../image/header/home.png);}
div#nav.scrollup .basket img{
  content: url(../image/header/basket.png);}
div#nav.scrollup .logo img{
   content: url(../image/header/main_logo.png);
}
div#nav.scrollup input,
div#nav.scrollup input::placeholder
{    opacity: 0.8;
    color:#080808;
}
div#nav.scrollup .text_box{
		border-bottom: #080808 1px solid;
}
div#nav.scrollup .hambutager_button span{
    background-color: #080808;
}
div#nav.scrollup .overlay{
    top: 0;
}

/* nav_area_s */

/* pc_mode */
#nav .nav_area{
    margin: 0 auto;
    width: 1320px;
    display: none;
    opacity: 0;
    transition: 0.3s;
    background: transparent;
}
#nav .nav_area.on{
    display: block;
    opacity: 1;
}
.nav_area.on .sub_left ul li{
    animation: fadeIn 0.6s ease forwards, slide-in-bottom 1s ease forwards;
}
/*nav안 sub메뉴만들기 */
.sub_wrap{
    width: 100%;
    padding: 65px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    color:#080808;
    font-size: 15px;
    font-family: 'Pretendard-Regular';
}
.sub_left{
    width: 38%;
}
.sub_left>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0.8;
}
.sub_title{
    font-family: 'Edensor FREE';
    font-size: 25px;
    opacity: 0.8;
}
.sub li a{
    display: block;
    padding-bottom: 15px;
}
.sub_left .sub li a:hover{
    color: #a87367;
    text-decoration: underline;
}
.sub_left .sub .sub_title a:hover{
    text-decoration: none;
}

.sub_right ul{
    display: flex;
    justify-content: space-between;
}
.sub_right ul li{
    width: 200px;
    height: 220px;
    margin: 20px 0;
    opacity: 0.8;
}
.sub_right ul li:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
}
.sub_right ul li a{
    display: block;
}
.wbp_img{
    width: 100%;
    margin-bottom: 10px;
}

/* subleft animation */
.sub_left ul li{
    opacity: 0;
}
@keyframes fadeIn{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes slide-in-bottom{
    0%{ transform: translate(0,-15px);}
    100%{transform: translate(0,0);}
} 
/* mo_mode_s */
.nav_area_mo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 300ms;
    z-index: 80;
    opacity: 0;
    z-index: 101;
    /* display: none; */
    visibility: hidden;
}
.nav_area_mo.visible{
    opacity: 1;
    visibility: visible;
    background: #faf6f0;
    z-index: 101;
    /* display: block; */
}

.hd_flex_mo{
    display: flex;
    align-items: center;
    position: relative;
    height: 86px;
    border-bottom: 1px solid rgba(0.215, 0.61, 0.355, 1);
}
.logo_mo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.util_search_mo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.util_search_mo a img{
    width: 20px;
}
.btn_close_mo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.sub_mo .gnb_item{
    border-bottom: 1px solid rgba(0.215, 0.61, 0.355, 1);
    transition: 200ms;
}

.link_head{
    position: relative;
    display: block;
    padding: 22px 21px 22px 21px;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.8;
    font-family: 'Edensor FREE';
}
.sub_box{
    display:none;
}
.sub_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 28px 22px;
    box-sizing: border-box;
}
.sub_list li{
   width: 50%;
}
.sub_list li a{
    display: block;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    line-height: 38px;
    opacity: 0.5;
    font-weight: 400;
}
.dropdown_icon{
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-30%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 102;
}
.dropdown_icon img{
    transform: rotate(180deg) ;
}
.turn .dropdown_icon img{
    transform: rotate(0);
}
.promo_area_mo{
    padding-top: 19px;
    transition: 200ms;
}
.prom_title{
    display: block;
    padding-left: 22px;
    margin-bottom: 17px;
    font-size: 25px;
    opacity: 0.8;
    font-family: 'Edensor FREE';
}
.promo_area_mo_swiper{
    padding: 0 22px;
}
.promo_area_mo_swiper ul{
    display: flex;
}
.swiper_img{
    padding-bottom: 15px;
}
.swiper_img img{
    width: 90%;
}
.swiper_text p{
    padding-top: 4px;
    font-size: 15px;
}
/* nav_area_e */
.pc_mode{
    display: block;
}
.mo_mode{
    display: none;
}

/* table 1400이하 */
@media(max-width: 1400px){
    .hd_inner{
        width: 90%;
    }
    .hd_flex{
        width: 100%;
    }
    #nav .nav_area.on{
        width: 90%;
    }
    .sub_wrap{
        width: 100%;}
    .sub_left{
        width: 40%;
    }
    .sub_right{
        width: 55%;
    } 
}

@media(max-width:1000px){
    .hd_inner{
        height: 80px;
        padding: 0 20px;
    }
    .hambutager_button.open{
        width: 27px;
        height: 29px;
    }
    .hambutager_button span{
        height: 1px;
    }
    .sub_list{
        width: 60%;
    }
    .pc_mode{
        display: none;
    }
    .mo_mode{
        display: block;
    }
}
/* header_e */
/* login_s */
.login{
    margin: 170px auto;
    width: 366px;
    text-align: center;
    display: block;
    /* background-color: bisque; */
}
.title_wrap{
   width: 100%;
   font-family: 'Edensor FREE';
   font-size:20px;
   font-weight: 400;
   color: #8e6559;
   padding: 10px 0 68px;
}
.form{
    display: block;
    box-sizing: border-box;
}
.form input{
    width: 100%;
    border-bottom: 1px solid #37373796;
    margin-bottom: 25px;
    padding: 14px 2px;
}
.form input::placeholder{
    color:  #37373796;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
}
input {
    padding-top: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fffbf9;
    font-size: 17px;
}
.find_wrap{
    text-align: right;
    padding-bottom: 45px;
}
.find_wrap a{
    padding-left: 10px;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: 400;
    color: #373737;
}
.button{
    margin-bottom: 25px;
}
.button a{
    display: inline-block;
    background-color: #a87367;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
.join_wrap{
    display: block;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    margin-bottom: 50px;
}
.join_wrap span{
   padding: 0 15px ;
}
.join_wrap a{
    padding:0 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid #37373796;
    color: #37373796;
}
.naver_login a{
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100%;
    background-color: #e4e0d9;
    padding: 15px 0;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.naver_login a img{
   margin-right: 15px;
}
.Kakao_login a{
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100%;
    background-color: #FEE500;
    padding: 15px 0;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
}
.Kakao_login a img{
    margin-right: 15px;
 }
.kakao_plus a{
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 100%;
    margin: 40px 0 50px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
}
.nomember_wrap a{
    display: inline-block;
    background-color: #f4dbcf;
    width: 100%;
    padding: 15px 0;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
}
/* login_e */

/* footer_s */
  /* pc */
  #footer_wrap{
    width: 100%;
    background-color: #dbab97;
  }
  .footer{
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Pretendard-Regular';
    padding: 40px 0;
  }
  #footer_wrap .pc{
    opacity: 1;
    visibility: visible;
    display: block;
    z-index: 81;
  }
  #footer_wrap .moblie{
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .footer_liner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer_link1{
    width: 100%;
    padding-bottom: 30px;
  }
  .footer_link1>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .f_logo a img{
    opacity: 0.7;
  }
  .f_logo a img:hover{
    opacity: 1;
  }
  .f_emo{
    display: flex;
    justify-content: space-between;
    width: 256px;
    height: 85px;
  }
  .f_emo li{
    width: 13%;
  }
  .f_emo li a{
    display: block;
    margin: 20px 0;
  }
  .f_emo li a img{
    width: 100%;
    opacity: 0.7;
  }
  .f_emo li a img:hover{
    opacity: 1;
  }
  .footer_link2{
    width: 100%;
  }
  .footer_link2>ul{
    display: flex;
    justify-content: space-between;
  }
  .footer_link2>ul>li{
    width: 162px;
    height: 160px;
  }
  .footer_link2>ul>li>h3{
    border-bottom: 1px solid #eaeaea;
    opacity: 0.7;
    padding: 5px 0;
    font-size: 18px;
  }
  .footer_link2>ul>li>h3>a{
    display: block;
  }
  .footer_link2>ul>li>h3>a:hover{
    opacity: 1;
  }
  .footer_link2>ul>li>p{
    font-size: 15px;
    opacity: 0.7;
    padding-top: 5px;
  }
  .footer_link2>ul>li>p>a{
    display: block;
    /* padding-top: 5px; */
  }
  .footer_link2>ul>li>p>a:hover{
    opacity: 1;
  }
  .stand{
    padding-top: 5px;
  }
  .footer_link3{
    width: 100%;
  }
  .footer_link3 p{
    padding-bottom: 5px;
  }

  /* moblie */
  .fs_link_head{
    position: relative;
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
    opacity: 0.8;
    z-index: 80;
  }
  .fs_link_title{
    display: flex;
    justify-content: space-between;
  }
  .fs_sub_box{
    display: none;
    padding-bottom: 20px;
  }
  .fs_down_icon img{
    width: 80%;
    transform: rotate(180deg) ;
  }
  .fs_down_icon img .turn{
    transform: rotate(0);
  }
  .info_txt{
    padding-top: 20px;
  }
  .info_txt span{
    font-size: 20px;
    padding-bottom: 12px;
    font-weight: 600;
    display: block;
  }
  .info_txt p{
    margin-bottom: 5px;
  }
  .stand{
    padding-bottom: 5px;
  }
  .address{
    padding-bottom: 5px;
  }

  @media(max-width:1400px){
    .footer_liner .pc{
      visibility: hidden;
      opacity: 0;
      display: none;
      z-index: 80;
    }
    #footer_wrap .footer_liner_mo .moblie{
      opacity: 1;
      visibility: visible;
      display: block;
      z-index: 81;
    }
    #footer_wrap{
        width: 100%;
    }
    .footer{
      width: 90%;
    }
    .logo_move{
      margin: 0;
    }
   
  }
  @media(max-width:1000px){
      #footer_wrap{
        height: 100%;
      }
      #footer_wrap .pc{
        visibility: hidden;
        opacity: 0;
        display: none;
      }
      #footer_wrap .moblie{
        opacity: 1;
        visibility: visible;
        display: block;
      }
      .f_emo{
        width: 200px;
      }
  }

/* footer_e */
/* 고정 버튼_s */
.top{
    right:20px;
    width:50px;}
.top a{display:inline-block;
    padding:10px 15px;
    background:#a87367;
    color:#fff;
    margin-bottom:15px;
    border-radius:50%;}
.top_up:hover{
    transform: translateY(-15px);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.6s;
    background: #dbab97;
}
.top_down:hover{
    transform: translateY(15px);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.6s;
    background: #dbab97;
}
.up{
    position:fixed;
    bottom:270px;
    z-index: 200;
}
.down{
    position:fixed;
    bottom:210px;
    z-index: 200;
}
@media(max-width:1000px){
    .top{
        right:3%;
    }
    .top a{
        padding:8px 12px;
    }
    .up{
        /* bottom:50px; */
    }
    .down{
        bottom:220px;
    }    
  }

/* 고정 버튼_e